.become_instructor_section {
    padding: 80px 0;
}

.instructor_block {
    text-align: center;
}

.instructor_block h3 {
    font-size: 50px;
}

.instructor_block p {
    max-width: 500px;
    padding: 10px 0;
    line-height: 1;
    margin: 0 auto;
    font-size: 30px;
}

.contact_page .banner {
    background-image: url(../../images/contact_banner.png);
}

.instructor_slider {
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #f7f9fa;
}

.instructer_slide_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.instructor_slider .slick-slider {
    max-width: 930px;
    margin: 0 auto;
}

.instructor_slider .slick-prev:before,
.instructor_slider .slick-next:before {
    font-size: 50px;
    line-height: 1;
    opacity: 1;
    color: #DDD;
}

.instructor_slider .slick-next {
    right: -35px;
}

.instructor_slider .slick-prev {
    left: -65px;
}

.inst_info {
    padding: 0 30px;
    max-width: calc(100% - 400px);
}

.inst_info p {
    max-width: 500px;
    font-size: 22px;
}

.inst_info span {
    color: rgb(133, 128, 128);
}

.inst_image {
    max-width: 400px;
}

.selectbox {
    padding: 5px 10px;
    font-size: 20px;
}

.data_wrapper {
    justify-content: center;
    display: flex;
}

.data_wrapper ul {
    margin: 5px;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 140px;
    width: 100%;
}

.data_wrapper ul li {
    list-style: none;
    padding: 5px 10px;
    border: 1px solid #000;
    margin-bottom: 1px;

}

.selectbox_outer {
    padding: 50px 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.selectbox_outer button {
    padding: 5px 15px;
    background-color: dodgerblue;
    border: unset;
    color: #fff;
    font-size: 18px;
    margin-top: 20px;
}


@media (max-width:1199px) {
    .instructor_slider {
        margin-bottom: 10px;
    }

    .instructor_slider .slick-slider {
        max-width: 800px;
    }

    .inst_info h3 {
        font-size: 22px;
    }

    .inst_info p {
        font-size: 19px;
    }
}

@media (max-width:991px) {
    .instructor_slider .slick-slider {
        max-width: 630px;
    }

    .inst_info {
        padding: 0 20px;
        max-width: calc(100% - 300px);
    }

    .become_instructor_section {
        padding: 40px 0;
    }

    .instructor_slider {
        margin-top: 40px;
    }

    .instructor_block h3 {
        font-size: 40px;
    }

    .instructor_block p {
        max-width: 400px;
        padding: 5px 0;
        font-size: 21px;
    }

    .inst_info span {
        font-size: 14px;
    }

    .inst_image {
        max-width: 300px;
    }

    .inst_info h3 {
        font-size: 18px;
    }

    .inst_info p {
        font-size: 15px;
    }
}